<form method="post">
    <hr>
    <input type="text" name="userName">
    <label><b>Name</b></label><br/>
    <br/>
    <input type="text" name="age">
    <label><b>Age</b></label><br/>
    <br/>
    <input type="text" Date" name="birthdayDate">
    <label><b>Birthday Date: </b></label><br/>
    <br/>
    <input type="text" name="address">
    <label><b>Adress</b></label><br/>
    <hr>
    <input type="submit" asp-action="GetWorkers" name="button" value="Register"/> 
    <input type="submit" asp-action="ListOfWorkers" name="button" value="List of workers"/> 

  </div>
  </form>